.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    height: 47px;
    width: 170px;
    border-radius: 12px;
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.25px;
}